################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Solutions.LeetCode/obj
/Solutions.LeetCode/.vs/Solutions.LeetCode/FileContentIndex
/Solutions.LeetCode/.vs/Solutions.LeetCode/v17
/Solutions.LeetCode/bin/Debug/net8.0
/Solutions.LeetCode/.vs/Solutions.LeetCode/DesignTimeBuild
/Solutions.LeetCode/.vs/ProjectEvaluation
